div{
    width: 100%;
    height: 100%;
 }
 body{
    background-image: url("./source.gif");
    background-size: cover;
    background-position: center center;
 }
 
 .datasubmit>  main {
   
    height: 40rem;
    width: 70%;
    padding: 3rem;
    border-radius: 0 200px 200px 0;}
 main>h1{
    text-align: center;
    color: linear-gradient(blue,red);
    font-size: 65px;
    text-decoration: underline;
 }   
main  > form {
    color: purple;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
form>div{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    margin: 1.5rem;
    text-align: center;
    margin-left: -600px;
   
}
form::before{
    filter: blur(30px);
}
div>label{
    font: 400 20px 'Roboto';
    width: 20%;
    letter-spacing: 2px;
    margin: 0 1rem;
    color: #4b264b;
    font-weight: 900;
    border: 1px solid black;
    background-color: black;
    color: white;
    overflow: auto;
}
form>input{
    align-self: stretch;
    height: 1.5rem;
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(123, 123, 123, 0.6);
    outline: none;
}
form>button{
    margin: 3rem 0;
          padding: 0.7rem;
          border: none;
          border-radius: 5px;
          background-image: linear-gradient(to right, #1372e6, #868dfc, #388eec, #8e37d7);
        
          color: white;
          width: 200px;
          font: 500 1rem 'Roboto';
}
form>button:hover{
    background-image: linear-gradient(to right, #1372e6, #868dfc, #388eec, #8e37d7);
        opacity: 0.9;

}
